In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Bluff,-46.6000,168.3333,52.00,88,100,14.00,NZ,2021-04-17 19:47:41
1,1,Georgetown,5.4112,100.3354,80.60,89,20,3.44,MY,2021-04-17 19:44:23
2,2,Imbituba,-28.2400,-48.6703,75.20,69,75,8.05,BR,2021-04-17 19:47:42
3,3,Ushuaia,-54.8000,-68.3000,60.80,44,40,12.66,AR,2021-04-17 19:47:21
4,4,Phan Thiet,10.9333,108.1000,76.64,78,56,3.62,VN,2021-04-17 19:47:42

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [ ]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = [latitude, longitude]

# 2. Assign the weights variable to some values.
temperatures = # an array of length equal to the locations array length

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)

# 6. Call the figure to plot the data.
fig

In [9]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []

# Use for loop and max() function to get the largest value between the temp and 0
# If the temp is less than 0, then 0 will be added to the list in its place
# Otherwise, the temp is added to the list 
for temp in max_temp:
    temps.append(max(temp, 0))
    
# [max(temp, 0) for temp in max_temp]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=temps, 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=humidity, 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent wind
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=wind, 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip?82
What is the maximum temperature you would like for your trip?86

In [15]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
15,15,Avarua,-21.2078,-159.7750,82.40,69,11,4.61,CK,2021-04-17 19:47:47
34,34,Venice,27.0998,-82.4543,82.00,78,1,11.50,US,2021-04-17 19:47:55
39,39,Bang Lamung,13.0470,100.9289,86.00,99,10,6.71,TH,2021-04-17 19:47:56
44,44,Oranjestad,12.5240,-70.0270,86.00,66,20,24.16,AW,2021-04-17 19:43:26
63,63,Butaritari,3.0707,172.7902,82.22,75,100,6.89,KI,2021-04-17 19:48:05
67,67,Cabo San Lucas,22.8909,-109.9124,82.99,32,1,6.91,MX,2021-04-17 19:48:06
85,85,Hithadhoo,-0.6000,73.0833,82.27,62,9,5.97,MV,2021-04-17 19:48:13
100,100,Witu,-2.3889,40.4382,82.40,83,20,9.22,KE,2021-04-17 19:48:19
121,121,Venado Tuerto,-33.7456,-61.9688,84.00,99,53,5.99,AR,2021-04-17 19:48:27
127,127,Dhidhdhoo,6.8833,73.1000,84.38,70,22,4.76,MV,2021-04-17 19:48:30

In [16]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
Country       1
Date          0
dtype: int64

In [17]:
preferred_cities_df.count()

City_ID       56
City          56
Lat           56
Lng           56
Max Temp      56
Humidity      56
Cloudiness    56
Wind Speed    56
Country       55
Date          56
dtype: int64

In [18]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
15           Avarua      CK     82.40 -21.2078 -159.7750
34           Venice      US     82.00  27.0998  -82.4543
39      Bang Lamung      TH     86.00  13.0470  100.9289
44       Oranjestad      AW     86.00  12.5240  -70.0270
63       Butaritari      KI     82.22   3.0707  172.7902
67   Cabo San Lucas      MX     82.99  22.8909 -109.9124
85        Hithadhoo      MV     82.27  -0.6000   73.0833
100            Witu      KE     82.40  -2.3889   40.4382
121   Venado Tuerto      AR     84.00 -33.7456  -61.9688
127       Dhidhdhoo      MV     84.38   6.8833   73.1000

In [19]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [21]:
# Iterate through the DataFrame 
for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude 
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary
    params["location"] = f"{lat}, {lng}"
    
    # Use the search term: "lodging" and our latitude and longitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search 
    hotels = requests.get(base_url, params = params).json()
    
    # Grab the first hotal from the results and store the name
    # used try-except block
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found ... skipping.")

Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.

In [23]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
15,Avarua,CK,82.40,-21.2078,-159.7750,Paradise Inn
34,Venice,US,82.00,27.0998,-82.4543,A Beach Retreat On Casey Key
39,Bang Lamung,TH,86.00,13.0470,100.9289,เซอรีน แซนด์ส เฮลท์ รีสอร์ท - Serene Sands Hea...
44,Oranjestad,AW,86.00,12.5240,-70.0270,Divi Village Golf & Beach Resort
63,Butaritari,KI,82.22,3.0707,172.7902,Isles Sunset Lodge
67,Cabo San Lucas,MX,82.99,22.8909,-109.9124,Hotel Tesoro Los Cabos
85,Hithadhoo,MV,82.27,-0.6000,73.0833,Scoop Guest House
100,Witu,KE,82.40,-2.3889,40.4382,New City Guest House
121,Venado Tuerto,AR,84.00,-33.7456,-61.9688,Hotel - Miro Park
127,Dhidhdhoo,MV,84.38,6.8833,73.1000,Dhidhoo beach

## Create a Maximum Temperature Heatmap from a Hotel DataFrame

In [26]:
# Add a heatmap of temperature for the vacation spots 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights = max_temp, 
                                 dissipating = False, 
                                max_intensity = 300, 
                                point_radius =4)
# Add the marker to the map
marker_layer = gmaps.marker_layer(locations)

# Add the figures to the map
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

## HTML code

- Opening angular bracket is followed by some text inside 


    - e.g. ```dt```, ```dt```, ```dd```
    
    
- Closing angular bracket is preceded by a forward-slash ("/")


- Text inside with the angular brackets is call a **tag** 


### Description

- ```<dl>``` : description list (dl)


- ```<dt>``` : a term or name in a descriptiion list that is needed under the ```<dl>``` tag 


- ```<dd>``` : used to define the term or name or ```<dt>``` tag


### Write-out 

- Description List: ```<dl>```


    - Description Term: ```<dt>```
    
        - Description Definition: ```<dd>```

In [27]:
# Add an info_box_template to add a pop-up marker for each city thay displays the hotel name, city name, country and maximum temperature

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [28]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [29]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))