## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Current Description,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Hasaki,35.7333,140.8333,73.00,clear sky,45,0,12.66,JP,2021-04-21 06:37:45
1,1,Hovd,48.0056,91.6419,39.11,broken clouds,50,80,11.70,MN,2021-04-21 06:37:46
2,2,Bangolo,7.0069,-7.4750,72.55,moderate rain,99,100,0.87,CI,2021-04-21 06:37:46
3,3,Qaanaaq,77.4840,-69.3632,0.86,overcast clouds,75,100,10.31,GL,2021-04-21 06:37:46
4,4,Srednekolymsk,67.4500,153.6833,36.25,few clouds,91,16,10.94,RU,2021-04-21 06:37:47

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip?90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Current Description,Humidity,Cloudiness,Wind Speed,Country,Date
8,8,Geraldton,-28.7667,114.6000,86.00,clear sky,19,3,11.50,AU,2021-04-21 06:34:02
14,14,Nikki,9.9401,3.2108,80.02,broken clouds,70,74,10.25,BJ,2021-04-21 06:37:50
18,18,Vaini,-21.2000,-175.2000,77.00,scattered clouds,94,40,2.30,TO,2021-04-21 06:37:52
22,22,Lorengau,-2.0226,147.2712,83.05,overcast clouds,80,100,10.45,PG,2021-04-21 06:37:54
24,24,Port Blair,11.6667,92.7500,87.80,few clouds,66,20,4.61,IN,2021-04-21 06:37:54
27,27,Alofi,-19.0595,-169.9187,78.80,broken clouds,94,55,3.44,NU,2021-04-21 06:37:56
31,31,Puerto Ayora,-0.7393,-90.3518,75.00,overcast clouds,98,96,1.01,EC,2021-04-21 06:37:57
42,42,Jijiga,9.3500,42.8000,75.18,overcast clouds,44,94,8.99,ET,2021-04-21 06:38:01
43,43,Kintampo,8.0563,-1.7306,75.54,overcast clouds,83,100,6.11,GH,2021-04-21 06:38:01
47,47,Hilo,19.7297,-155.0900,75.20,overcast clouds,73,90,3.31,US,2021-04-21 06:38:03

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Lat                    0
Lng                    0
Max Temp               0
Current Description    0
Humidity               0
Cloudiness             0
Wind Speed             0
Country                0
Date                   0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna().head()

,City_ID,City,Lat,Lng,Max Temp,Current Description,Humidity,Cloudiness,Wind Speed,Country,Date
8,8,Geraldton,-28.7667,114.6000,86.00,clear sky,19,3,11.50,AU,2021-04-21 06:34:02
14,14,Nikki,9.9401,3.2108,80.02,broken clouds,70,74,10.25,BJ,2021-04-21 06:37:50
18,18,Vaini,-21.2000,-175.2000,77.00,scattered clouds,94,40,2.30,TO,2021-04-21 06:37:52
22,22,Lorengau,-2.0226,147.2712,83.05,overcast clouds,80,100,10.45,PG,2021-04-21 06:37:54
24,24,Port Blair,11.6667,92.7500,87.80,few clouds,66,20,4.61,IN,2021-04-21 06:37:54

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Current Description", "Max Temp", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Current Description,Max Temp,Lat,Lng,Hotel Name
8,Geraldton,AU,clear sky,86.00,-28.7667,114.6000,
14,Nikki,BJ,broken clouds,80.02,9.9401,3.2108,
18,Vaini,TO,scattered clouds,77.00,-21.2000,-175.2000,
22,Lorengau,PG,overcast clouds,83.05,-2.0226,147.2712,
24,Port Blair,IN,few clouds,87.80,11.6667,92.7500,
27,Alofi,NU,broken clouds,78.80,-19.0595,-169.9187,
31,Puerto Ayora,EC,overcast clouds,75.00,-0.7393,-90.3518,
42,Jijiga,ET,overcast clouds,75.18,9.3500,42.8000,
43,Kintampo,GH,overcast clouds,75.54,8.0563,-1.7306,
47,Hilo,US,overcast clouds,75.20,19.7297,-155.0900,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat}, {lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params = params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found ... skipping.")

Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.

In [9]:
hotel_df.count()

City                   179
Country                179
Current Description    179
Max Temp               179
Lat                    179
Lng                    179
Hotel Name             179
dtype: int64

In [10]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.dropna()

,City,Country,Current Description,Max Temp,Lat,Lng,Hotel Name
8,Geraldton,AU,clear sky,86.00,-28.7667,114.6000,Broadwater Mariner Resort
14,Nikki,BJ,broken clouds,80.02,9.9401,3.2108,Hotel John
18,Vaini,TO,scattered clouds,77.00,-21.2000,-175.2000,Keleti Beach Resort
22,Lorengau,PG,overcast clouds,83.05,-2.0226,147.2712,Lorengau Harbourside Hotel
24,Port Blair,IN,few clouds,87.80,11.6667,92.7500,Welcomhotel Bay Island Port Blair
...,...,...,...,...,...,...,...
662,Port-Gentil,GA,light rain,78.80,-0.7193,8.7815,Fengshui Residence
663,Buala,SB,moderate rain,82.17,-8.1450,159.5921,Maringe Lagoon Lodge
674,Hobyo,SO,broken clouds,86.49,5.3505,48.5268,Halane Hotel and Restaurent
680,Bambanglipuro,ID,clear sky,85.01,-7.9500,110.2833,Puri Brata
683,Banda Aceh,ID,overcast clouds,86.58,5.5577,95.3222,Sulthan Hotel International

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map. 

# Add a heatmap of temperature for the vacation spots 
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights = max_temp, 
                                 dissipating = False, 
                                max_intensity = 300, 
                                point_radius =4)
# Add the marker to the map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Add the figures to the map
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))